- place = place.decorate
%div.row
  %div.col-md-4
    = link_to image_tag("http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{place.latitude}%2C#{place.longitude}"), place_path(place.id)
  %div.col-md-8
    %p.text-bold
      = link_to place.name, place_path(place.id)
    %p
      %span.text-muted= t('places.address')
      = place.full_address
    %p
      %span.text-muted= t('places.avg_rating')
      = place.averag_rating_show
    %p
      %span.text-muted= t('places.avg_price')
      = place.avg_price
%hr
